/ Needs a set of campsites
.panel.panel-default
  .panel-heading campHero: Oh Snap!
  .panel-body I don't know of any #{tribe.vibe} campsites near #{place.name}.  Maybe they don't exist, or maybe I need to learn about them.