p.lead.col-md-12 Best Rustic Camping
.col-md-12
  .col-md-3 = image_tag @tribes.find(1).icon.url(:medium), class:'img-responsive tribe-background'
  p.col-md-9 Something here

p.lead.col-md-12 Best RV Parks
.col-md-12

p.kead.col-md-12 Best Backcountry Campsites
.col-md-12