<h1 class="text-center"><b>Terms of Use</b><br><small class="text-center">[Last updated Feb, 2014]</small></h1>

<p><br />
</p>

<p>Like all living dinosaurs, Camposaurus doesn’t want to be sued. He wants to eat hostile lawyers for lunch. Accordingly, everyone who uses or accesses his App is bound by these legal terms.  Camposaurus encourages you to read the Terms so that you are aware of your legal responsibilities to Camposaurus, as well as his legal responsibilities to you. <b>By using or accessing our App, you agree to these Terms and also two additional documents:</b></p>

<ul>
  <li> Camposaurus's <%= link_to 'Privacy Policy', privacy_path %> (which explains what Camposaurus does with your data)</li>
  <li> Camposaurus's <%= link_to 'DMCA Takedown Policy', takedown_path %> (for removing content that allegedly infringes on someone else's copyrights)</li>
</ul>


<p><br />
</p>

<p><br />
</p>

<p><b>Acceptance &amp; Modification of Terms</b></p>

<p><br />
</p>

<ul>
<li>These Terms are a legally binding agreement that governs your relationship with us as a user of our App. </li>
<li>By using or accessing the App, you agree to be bound by these Terms. </li>
<li>We may modify these Terms from time to time at our sole discretion. </li>
<li>Your continued use of the App following changes to the Terms constitutes your acceptance of the amended terms.</li>
<li>If we makes material changes to these terms, we may notify you by e-mailing you or posting the changes on the App before they become effective.</li>
<li>The most current version of these Terms will be located on our website. </li>
</ul>

<p><br />
</p>

<p><b>Privacy</b></p>

<p><br />
</p>

<ul>
<li>Your privacy is important to us</li>
<li>We encourage you to read our <b>Privacy Policy</b>, which explains how we store and use your information. </li>
<li>We hope this policy will enable you to make informed decisions</li>
</ul>

<p><br />
</p>

<p><b>Using the App</b>. </p>

<p><br />
</p>

<ul>
<li>You must be 18 years or older to use this App</li>
<li>To use this App, you must have the required authority to agree to these Terms</li>
<li>If you are a competitor to us , you may not copy, scrape, use, or distribute Content or use Content for commercial purposes without written permission from us.</li>
<li>You will not use the App if you are a convicted sex offender.</li>
<li>You will not share your password, let anyone else access your account, or do anything else that might jeopardize the security of your account.</li>
<li> We grant you permission to use the App but only pursuant to these Terms</li>
<li>Your use of the App is at your own risk, including the risk of being exposed to content that is offensive, inaccurate or otherwise objectionable.</li>
</ul>

<p><br />
</p>

<p><b>Accounts</b>. </p>

<ul>
<li>As a condition to using certain aspects of the App, you are required to register an account with us</li>
<li>We reserve the right to terminate your account for any reason at our sole discretion. </li>
<li>If you register, you represent, warrant and agree that you provide us with accurate and complete registration information and to keep your registration information accurate and up-to-date.</li>
<li>If we disable your account, you will not create another one without our permission.</li>
</ul>

<p><br />
</p>

<p><b>Bad Behavior.</b></p>

<ul>
<li>In general, please don’t misbehave.</li>
<li>You will not use the App to do anything unlawful, misleading, malicious, or discriminatory.</li>
<li>You will not create any account for anyone other than yourself without such person's permission.</li>
<li>You will not use an account to impersonate another person.</li>
<li>You will not use an App account that is subject to any rights of a person other than you without appropriate authorization.</li>
<li>You will not use a username that is offensive, vulgar, obscene or otherwise unlawful.</li>
<li>You shall not post unauthorized commercial communications (such as spam) on the App.</li>
<li>You will not upload viruses or other malicious code.</li>
<li>You will not solicit login information or access an account belonging to someone else.</li>
<li>You will not collect users' Content or information, or otherwise access the App, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.</li>
<li>You will not engage in unlawful marketing, such as a pyramid scheme, on the App.</li>
<li>You will not bully, intimidate, or harass any user.</li>
<li>You will not post content that is hate speech, threatening, pornographic, incites violence, contains nudity, or contains graphic violence.</li>
<li>You will not do anything that could disable, overburden, or impair the proper working or appearance of the App, such as a denial of service attack or interference with page rendering or other App functionality.</li>
<li>You will not facilitate or encourage any violations of these Terms or our policies.</li>
</ul>

<p><br />
</p>

<p><b>Your Content</b>. </p>

<p><br />
</p>

<ul>
<li>We may use your Submissions in a number of different ways in connection with the App and our business as we may determine in our sole discretion</li>
<li>By submitting your Submissions on the App, you hereby do and shall grant us a worldwide, non-exclusive, royalty-free, fully paid, sublicensable and transferable license to use, copy, edit, modify, reproduce, distribute, prepare derivative works of, display, perform, and otherwise fully exploit Your Submissions. </li>
<li>You also hereby do and shall grant each user of the App, including our third-party partners, a non-exclusive license to access your Submissions through the App, and to use, edit, modify, reproduce, distribute, prepare derivative works of, display and perform your Submissions. </li>
<li>The foregoing license does not affect your other ownership or license rights in your Submission(s), including the right to grant additional licenses to the material in your Submission(s), unless otherwise agreed in writing with us.</li>
<li>You represent and warrant that you have all rights to grant such license to us without infringement or violation of any third party rights, including without limitation, any privacy rights, publicity rights, copyrights, contract rights, or any other intellectual property or proprietary rights.</li>
</ul>

<p><br />
</p>

<p><b>Content</b>. </p>

<ul>
<li>All Content, whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Content. </li>
<li>We cannot guarantee the authenticity of any Content or data which users may provide about themselves.</li>
<li>You acknowledge that all Content accessed by you using the App is at your own risk and you will be solely responsible and liable for any damage or loss to you or any other party resulting therefrom.</li>
<li>The App contains Content specifically provided by us or our partners and such Content is protected by copyrights, trademarks, service marks, patents, trade secrets or other proprietary rights and laws, as applicable. </li>
<li>You shall abide by and maintain all copyright notices, information, and restrictions contained in any Content accessed through the App.</li>
<li>Subject to these Terms, we grant each user of the App a worldwide, non-exclusive, non-sublicensable and non-transferable license to use, modify and reproduce the Content, solely for personal, non-commercial use. </li>
<li>Use, reproduction, modification, distribution or storage of any Content for other than personal, non-commercial use is expressly prohibited without prior written permission from us, or from the copyright holder identified in such Content's copyright notice, as applicable. </li>
<li>You shall not sell, license, rent, or otherwise use or exploit any Content for commercial (whether or not for profit) use or in any way that violates any third party right.</li>
</ul>

<p><br />
</p>

<p><b>Legal Rights of Others</b>.</p>

<p><br />
</p>

<ul>
<li>You will not post Content or take any action on the App that infringes or violates someone else's rights or otherwise violates the law.</li>
<li>We have policies in place to combat infringement of intellectual property rights - for more information, see our <b>Takedown Policies</b>. </li>
<li>We can remove any content or information you post on the App, especially if we believe that it violates these Terms or our policies</li>
<li>You will not post anyone's identification documents or sensitive financial information on the App.</li>
</ul>

<p><br />
</p>

<p><b>Termination</b>:</p>

<ul>
<li>If you violate the letter or spirit of these Terms, or otherwise create risk or possible legal exposure for us ,we can stop providing all or part of the App to you.</li>
<li>You may also delete your account or disable your application at any time.</li>
<li> Our rights shall survive termination of this agreement</li>
</ul>

<p><br />
</p>

<p><b>Legal definitions:</b></p>

<p><br />
</p>

<ul>
<li>“Terms” means this agreement.</li>
<li>“You” (including “your” in the possessive) means you as a user of or person accessing the App.</li>
<li>“Us,” “we,” (including “our” in the possessive), and “Campsaurus” means Camposaurus LLC, a Delaware limited liability company and any of our affiliates or assignees. “Our” means Camposaurus’s. </li>
<li>“Content” means anything you, we, or other users post on the App</li>
<li>“Your Submissions” means content submitted, posted, or otherwise added to the App by you. </li>
<li>“App” means any of our websites, mobile applications, and any related software, media, devices, platforms, or networks now existing or later developed. </li>
</ul>

<p><br />
</p>

<p><br />
</p>

<p><b>General Terms</b>:</p>

<p><br />
</p>

<ul>
<li>These Terms make up the entire agreement between the you and us regarding the App, and supersede any prior agreements.</li>
<li>If any portion of these Terms is found to be unenforceable, the remaining portion will remain in full force and effect.</li>
<li>If we fail to enforce any of these Terms, it will not be considered a waiver.</li>
<li>Any amendment to or waiver of these Terms must be made in writing and signed by us.</li>
<li> We reserve the right to modify, update, or discontinue the App at our sole discretion, at any time, for any or no reason, and without notice or liability.</li>
<li> We may provide you with notices (including those regarding changes to these Terms) by e-mail, regular mail, or communications through the App. </li>
<li>You will not transfer any of your rights or obligations under this Statement to anyone else without our consent.</li>
<li>Our rights and obligations under these Terms are freely assignable at our sole discretion. </li>
<li>No third party shall have rights or be a beneficiary under these Terms. </li>
<li>You will comply with all applicable laws when using or accessing the App. </li>
</ul>