
.container
  .well.white.pad-top-lg.col-md-8.col-md-offset-2
    h1 You shall not pass!
    p Sorry, lovely human.  You know that url you just tried to access?  Unless you are one of my employed minion humans, you are not allowed in there.  Click the back button and go back from whenst you came!  Or use my beautiful navigation bar to find another page.