// Color variables
$mainPadding: 70px;
$mediumPadding: 20px;
$topNavbarHeight: 50px;
$footerHeight: 50px;
$vibrantGreen: rgb(125,168,23);
$brandColor: $vibrantGreen;
$foursquareBackground: rgb(234, 232, 228);
$backgroundColor: $foursquareBackground;
$lightGray: #808080;


// Page-level styles

.white {
  background:#ffffff;
  opacity:1.0;
}

.background { 
  background: $backgroundColor;
}

.subtle-text {
  color: $lightGray;
}

// Banner styles
.brand {
  font-family: 'Fjalla+One';
  color: $brandColor;

  &:visited {
    color: $brandColor;
  }

  &:hover {
    color: $brandColor;
  }
}

#resultsMap {
  height:400px;
  width:400px;
  padding:70px;
  position:absolute;
}