// Color variables
$vibrantGreen: rgb(125,168,23);
$brandColor: $vibrantGreen;
$foursquareBackground: rgb(234, 232, 228);
$backgroundColor: $foursquareBackground;


// Page-level styles

.white {
  background:#ffffff;
  opacity:1.0;
}

.background { 
  background: $backgroundColor;
}

// Banner styles
.brand {
  font-family: 'Voltaire';
  color: $brandColor;

  &:visited {
    color: $brandColor;
  }

  &:hover {
    color: $brandColor;
  }
}