@import "compass";
@import "bootstrap";

#main {
  padding-top: 70px;
}

.main-colored {
  background: #e1e1e1;
}

.brand {
  font-family:'Voltaire';
  color:red;

  &:visited {
    color:red;
  }

  &:hover {
    color:red;
  }
}

.white-well {
  background:#ffffff;
  opacity:1.0;
}