// Place all the styles related to the Campsites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#resultsMap {
  height:400px;
  width:400px;
  padding:70px;
  position:absolute;
}

.results-well {
  padding-top: $topNavbarHeight;
}

#map {
  padding-top:70px;
  height:400px;
  width:400px;
  position:absolute;
}