// Place all the styles related to the Campsites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Campsite page ============================
$campsiteMapHeight: 200px;
#campsiteMap {
  height:$campsiteMapHeight;
  width:100%;
  position:absolute;
  padding:$smallPadding;
  margin:$smallPadding;
}
#mapRow {
  height:$campsiteMapHeight;
}

// Seach page ===============================
#resultsMap {
  height:100%;
  width:100%;
  position:absolute;
}

#map {
  padding-top:70px;
  height:400px;
  width:400px;
  position:absolute;
}

#searchReset {
  padding-bottom:0px;
}

#results-container {
  min-height:100%;
  padding-top: $topNavbarHeight;
  overflow-y: auto; 
  overflow-x: hidden;
  max-height:100%;
}

#results-container::-webkit-scrollbar{
  width:5px;
  background-color:#e1e1e1;
}

#results-container::-webkit-scrollbar-thumb{
  background-color:#cccccc;
}

.activeSearchFilter {
  border: 2px solid #65b045; 
  background:#d5eacb;
}

.searchFilterThumbnail {
  margin-bottom:$tinySpacing;
}

.result-list {padding-top:$mediumPadding;}

#filter-chevron {font-size:32px;}