- form_tag "/search", method: "get", html:{class:'navbar-form'} do
  .form-group
    = text_field_tag :q, html:{class:"form-control", placeholder:"Detroit, MI"}
    = submit_tag "Search", class:'btn btn-success'